<div class="page-header">
  <h1>All Statuses</h1>
</div>

<%= link_to 'New Status', new_status_path, class: 'btn btn-primary' %>

<%= render @statuses %>



<br />

<%= link_to 'New Status', new_status_path %>
